//
// BUTTONS
//

.button {
	padding: $xsmall-space $small-space;
	color: #fff;
	background: $primary;
	display: inline-block;
	font-weight: bold;
	border-radius: 4px;
	transition: background .3s ease;
	text-decoration: none;

	&:visited {
		color: #fff;
		background: $primary;
		text-decoration: none;
	}

	&:hover {
		color: #fff;
		background: lighten($primary, 10%);
		text-decoration: none;

		.icon-arrow-right {
			padding-left: .625rem;
			transition: .3s ease;
		}
	}

	&--blue {
		background: $blue;

		&:hover {
			background: mix(white, $blue, 10%);
		}
	}

	// &--transparent {
	// 	background: none;
	// 	color: $black;
	// 	border-radius: 0;
	// 	padding: 0;
	// }

	&--uppercase {
		font-size: .875em;
		text-transform: uppercase;
	}

	.icon-arrow-right {
		padding-right: 0;
		transition: .3s ease;
	}

	&__icon {
		margin-right: $xxsmall-space;
	}
}
