body {
	color: $black;
	font-family: $font;
	box-sizing: border-box;
	line-height: 1.4;

	text-rendering: optimizeLegibility!important;
	-webkit-font-smoothing: antialiased!important;

	* {
		box-sizing: border-box;
	}
}

p,
span {
	// font-family: $body_font;
	line-height: 1.6;
}

// p {
// 	font-size: 1.25em;
// }

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.375em;
}

a {
	text-decoration: none;
}

figure {
	margin: 0;
}

img {
	max-width: 100%;
}

a,
.link {
	text-decoration: none;
	color: $black;

	&--no-bg {
		background: none;
	}

	&:visited {
		color: $black;
	}

	&:hover {
		text-decoration: none;
		color: $blue;
	}
}

li {
	list-style-type: square;
}

.site {
	// font-size: 1.125em;

	// @include media(medium) {
	// 	font-size: 1em;
	// }

	&__title {
		font-size: 4em;
		line-height: 1;
		margin-top: 0;
		margin-bottom: 8rem;
		position: relative;
		display: inline-block;

		// color: #5d2980;
		// background: -webkit-linear-gradient(45deg, rgba(255,69,168,1) 0%, rgba(93,41,128,1) 100%);
		// -webkit-background-clip: text;
		// -webkit-text-fill-color: transparent;

		@include media(small) {
			font-size: 3em;
			margin-bottom: 2rem;
		}
	}
}
