body {
	color: $black;
	font-family: $font;
	box-sizing: border-box;
	line-height: 1.4;

	text-rendering: optimizeLegibility!important;
	-webkit-font-smoothing: antialiased!important;

	* {
		box-sizing: border-box;
	}
}

p,
span {
	// font-family: $body_font;
	line-height: 1.6;
	font-size: 1.25em;
	color: $text-color
}

h1 {
	font-size: 3.25em;
	margin-top: $medium-space;
	margin-bottom: 0;
}

h2 {
	font-size: 2em;
	margin-top: $medium-space;
	margin-bottom: 0;
}

h3 {
	font-size: 1.5em;
	margin-top: $small-space;
	margin-bottom: 0;
}

h4 {
	font-size: 1.375em;
	margin-top: $small-space;
	margin-bottom: 0;
}

// a {
// 	text-decoration: none;
// }

figure {
	margin: 0;
}

img {
	max-width: 100%;
}

a,
.link {
	color: $primary;

	&--no-bg {
		background: none;
	}

	&:visited {
		color: $primary;
	}

	&:hover {
		text-decoration: none;
		color: $primary;
	}

	&--arrow {
		font-weight: bold;

		&:hover {
			.icon-arrow-right {
				padding-left: .625rem;
				transition: .3s ease;
			}
		}
	}
}

li {
	list-style-type: square;
}

.site {
	// font-size: 1.125em;

	// @include media(medium) {
	// 	font-size: 1em;
	// }

	&__title {
		font-size: 3.25em;
		line-height: 1;
		margin-top: $large-space;
		margin-bottom: 0;
		position: relative;
		display: inline-block;

		@include media(small) {
			font-size: 3em;
			margin-bottom: 2rem;
		}
	}

	&__cmc {
		max-width: 40rem;
		margin: 0 auto;
	}
}
