//
// HOME INTRO
//

.home {

	&__intro {
		margin-top: $large-space;
	}

		&__intro-presentation {
			margin-top: 0;
			margin-bottom: 0;
		}

		&__intro-button {
			margin-top: $small-space;
		}


	&__projects-list {
		margin-top: $large-space;
	}

	&__latest-posts {
		margin-top: $large-space;
	}
}
