//
// MAIN HEADER
//

.main-header {
	display: flex;
	align-items: center;
	padding-top: 1.25em;
	padding-bottom: 1.25em;
	margin-bottom: 6.25rem;

	@include media(small) {
		margin-bottom: 2rem;
	}

	&__logo {
		color: $black;

		&:visited {
			color: $black;
		}

		img {
			max-height: 2.5em;
		}
	}

	&__nav {
		float: right;
		margin-left: auto;
	}
}
