//
// MAIN FOOTER
//

.main-footer {
	background: $light_gray;
	padding-top: $medium-space;
	padding-bottom: $medium-space;
	margin-top: $medium-space;

	@include media(small) {
		margin-top: $medium-space;
	}

	&__title {
		font-size: 1em;
		margin-top: 0;
		margin-bottom: $xsmall-space;

		@include media(small) {
			margin-top: $small-space;
		}
	}

	&__copyright {
		color: $medium_gray;
	}


	ul {
		margin: 0;
		padding: 0;

		li {
			list-style: none;
			margin-top: .25em;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	a,
	span {
		color: $black;
		text-decoration: none;
		padding: .125em 0;
		display: inline-block;
	}
}
