/*--------------------------------------------------------*\
     MAIN NAV
\*--------------------------------------------------------*/

.main-nav {

	&:hover {
		.main-nav__item {
			border-bottom: 2px solid transparent;
		}
	}

	ul {
		@include clearfix();
		padding: 0;
		margin: 0;
	}

	li {
		float: left;
		list-style: none;
	}

	&__item {
		margin-left: 1.25em;


		&--active {
			font-weight: bold;
		}
	}
}
