//
// MAIN HEADER
//

.main-header {
	display: flex;
	align-items: center;
	margin-top: $small-space;

	&__logo {
		color: $black;

		&:visited {
			color: $black;
		}
	}

	&__nav {
		float: right;
		margin-left: auto;
	}
}
