//
// POST LIST (BLOG)
//

.post-list {
	margin-top: $medium-space;

	&__data {
		display: block;
		color: $medium_gray;
		font-size: .875em;
	}

	&__post {
		margin-top: 3.125rem;

		&:first-child { margin-top: 0; }
	}

	&__featured-img {
		max-height: 300px;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__content {
		padding: $small-space;
	}

	&__post-title {
		margin-top: 0;
		margin-bottom: 0;
	}

	&__post-excerpt {
		margin-top: .625rem;
		margin-bottom: 0;
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__read-more {
		margin-top: .625rem;

		.icon-arrow-right {
			padding-right: 0;
			transition: .3s ease;
		}

		&:hover {
			.icon-arrow-right {
				padding-left: .625rem;
				transition: .3s ease;
			}
		}

		// a {
		// 	color: $black;

		// 	&:hover {
		// 		color: $blue;
		// 	}
		// }
	}
}
