//
// PROJECTS-LIST
//
.projects-list {
	margin-bottom: 3.125rem;
	margin-top: 3.125rem;

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style: none;
	}

	&__project {
		display: block;
		margin-top: 1rem;
	}

	&__project-title {
		font-size: 1.25em;
		font-weight: bold;
		display: inline;
	}

	&__short-description {
		font-size: 1.25em;
		display: inline;
		color: $not_black;
		font-weight: normal;
	}


	// Promo contact
	&__promo-contact {
		display: flex;
		opacity: 0;
		align-items: center;
		color: $black;
		height: 250px;
		transition: .3s ease;

		@include media(large) {
			opacity: 1;
		}

		@include media(medium) {
			height: 200px;
		}

		@include media(small) {
			height: 150px;
		}

		&:hover {
			opacity: 1;
			transition: .3s ease;
			color: $black;
		}
	}

	&__promo-contact-go {
		// color: $blue;

		.icon-arrow-right {
			padding-right: 0;
			transition: .3s ease;
		}

		&:hover {
			.icon-arrow-right {
				padding-left: .625rem;
				transition: .3s ease;
			}
		}
	}
}
