/*--------------------------------------------------------*\
     CLEARFIX
\*--------------------------------------------------------*/

@mixin clearfix() {
	clear: both;

	&:before,
	&:after {
		display: table;
		content: "";
	}

	&:after {
		clear: both;
	}
}
