<footer class="main-footer">
	<div class="wrapper">
		<div class="row">
			<div class="column column--half">
				<h5 class="main-footer__title">Contact me:</h5>
				<ul>
					<li><span>hola@ricardpanades.com</span></li>
				</ul>
			</div>
			<div class="column column--half">
				<h5 class="main-footer__title">Where I am:</h5>
				<nav class="main-footer__social">
					<ul class="clear">
						<li><a  class="link link--no-bg" href="http://twitter.com/ricardpanades">Twitter</a></li>
						<li><a  class="link link--no-bg" href="https://www.linkedin.com/in/ricardpanades">LinkedIn</a></li>
						<li><a  class="link link--no-bg" href="http://instagram.com/ricardpanades">Instagram</a></li>
						<li><a  class="link link--no-bg" href="https://codepen.io/ricardpanades">Codepen</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</footer>
