<footer class="main-footer">
	<div class="wrapper">
		<div class="row">
			<div class="column column--third">
				<span class="main-footer__copyright">© 2017 Ricard Panadès Nadal</span>
			</div>
			<div class="column column--third">
				<h5 class="main-footer__title">Contacte:</h5>
				<ul>
					<li><span>hola@ricardpanades.com</span></li>
					<li><a  class="link link--no-bg" href="http://twitter.com/ricardpanades">@ricardpanades</a></li>
					<li><span>Sta Mª de Palautordera, Barcelona</span></li>
				</ul>
			</div>
			<div class="column column--third">
				<h5 class="main-footer__title">Pots trobar-me:</h5>
				<nav class="main-footer__social">
					<ul class="clear">
						<li><a  class="link link--no-bg" href="http://twitter.com/ricardpanades">Twitter</a></li>
						<li><a  class="link link--no-bg" href="http://facebook.com/ricardpanades">Facebook</a></li>
						<li><a  class="link link--no-bg" href="https://www.linkedin.com/in/ricardpanades">LinkedIn</a></li>
						<li><a  class="link link--no-bg" href="http://instagram.com/ricardpanades">Instagram</a></li>
						<li><a  class="link link--no-bg" href="http://dribbble.com/ricardpanades">Dribbble</a></li>
						<li><a  class="link link--no-bg" href="https://codepen.io/ricardpanades">Codepen</a></li>
						<li><a  class="link link--no-bg" href="http://500px.com/ricardpanades">500px</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</footer>
