<nav class="main-nav" role="navigation">
	<ul>
		<!-- <li>
			<a href="/" class="main-nav__item{% if page.url == '/' %} main-nav__item--active{% endif %}">Inici</a>
		</li> -->

		<!-- <li>
			<a href="/portfoli" class="main-nav__item{% if page.url contains 'portfolio' %} main-nav__item--active{% endif %}">Portfoli</a>
		</li> -->

		<!-- <li>
			<a href="/sobre-mi" class="main-nav__item{% if page.url contains 'sobre-mi' %} main-nav__item--active{% endif %}">Sobre mi</a>
		</li> -->

		<li>
			<a href="/blog" class="main-nav__item{% if page.url contains 'blog' %} main-nav__item--active{% endif %}">Blog</a>
		</li>

		<!-- <li>
			<a href="/eines" class="main-nav__item{% if page.url contains 'eines' %} main-nav__item--active{% endif %}">Eines</a>
		</li> -->

		<li>
			<a href="mailto:hola@ricardpanades.com?subject=Contacte desde ricardpanades.com" class="main-nav__item{% if page.url == '/contacto/' %} main-nav__item--active{% endif %}">Contacte</a>
		</li>
	</ul>
</nav>
