<div class="alert work-in-progress">
	<h5 class="alert__heading work-in-progress__heading">Portfolio under construction</h5>
	<div class="alert__content">
		<p class="work-in-progress__text">
			Hey! currently I'm working on my portfolio trying to have more details on the projects, process and improving it in general. If you have any doubts <a class="link" href="{{site.baseurl}}/my-design-process">check my design process</a> and <a class="link" href="https://www.linkedin.com/in/ricardpanades">my linkedin</a>
		</p>
	</div>
</div>
