---
layout: default
meta: Les meves eines - Ricard Panadès Nadal
title: Les meves eines
---

<section class="gear wrapper">
	<div class="row">
		<div class="column">
			<h1 class="site__title">{{ page.title }}</h1>
		</div>
	</div>

	<div class="row">
		<div class="column">
			<h2>General</h2>
		</div>

		{% assign gears = site.gear-general | sort: 'order' %}
		{% for gear in gears %}
			{% if gear.visible %}
				<div class="column column--half">
					<a class="gear__item" href="{{ gear.link }}">
						<img class="gear__img" src="{{ gear.img }}">
						<div class="gear__info">
							<h4 class="gear__title">{{ gear.title }}</h4>
							<p class="gear__description">{{ gear.description }}</p>
							<span class="gear__button button button--transparent">Veure a amazon <span class="icon-arrow-right">➝</span></span>
						</div>
					</a>
				</div>
			{% endif %}
		{% endfor %}
	</div>

	<div class="row">
		<div class="column">
			<h2>Fotografía y Video</h2>
		</div>

		{% assign gears = site.gear-photo-and-video | sort: 'order' %}
		{% for gear in gears %}
			{% if gear.visible %}
				<div class="column column--half">
					<a class="gear__item" href="{{ gear.link }}">
						<img class="gear__img" src="{{ gear.img }}">
						<div class="gear__info">
							<h4 class="gear__title">{{ gear.title }}</h4>
							<p class="gear__description">{{ gear.description }}</p>
							<span class="gear__button button button--transparent">Veure a amazon <span class="icon-arrow-right">➝</span></span>
						</div>
					</a>
				</div>
			{% endif %}
		{% endfor %}
	</div>

	<div class="row">
		<div class="column">
			<h2>Aplicaciones y servicios</h2>
		</div>

		{% assign gears = site.gear-tools | sort: 'order' %}
		{% for gear in gears %}
			{% if gear.visible %}
				<div class="column column--half">
					<a class="gear__item" href="{{ gear.link }}">
						<img class="gear__img" src="{{ gear.img }}">
						<div class="gear__info">
							<h4 class="gear__title">{{ gear.title }}</h4>
							<p class="gear__description">{{ gear.description }}</p>
							<span class="gear__button button button--transparent">Veure més <span class="icon-arrow-right">➝</span></span>
						</div>
					</a>
				</div>
			{% endif %}
		{% endfor %}
	</div>

	<div class="row">
		<div class="column column--6">
		</div>

		<div class="column column--6"></div>
	</div>
</section>
