<!DOCTYPE html>

<!--
Gracies per llegir el meu codi.
Thanks for read my code.
Gracias por leer mi código.

:D
 -->

<html>
	<head>
		<meta charset="utf-8">
		<title>{% if page.titol %}{{page.titol}} · {% endif %}Ricard Panadès Nadal · Product Designer</title>
		<meta name="description" content="{{page.meta}}">
		<meta name="author" content="Ricard Panadès Nadal">
		<meta name="viewport" content="width = device-width, initial-scale=1, maximum-scale=1"/>

		<!-- styles -->
		<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/main.css">

		<!-- Font -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

		<!-- favicon -->
		<link rel="shortcut icon" href="{{site.baseurl}}/assets/img/favicon.ico" type="image/x-icon">
		<link rel="icon" href="{{site.baseurl}}/assets/img/favicon.ico" type="image/x-icon">

		<!-- Missatge de cookies -->
		<!-- <script type="text/javascript">
		    window.cookieconsent_options = {"message":"Com totes les web's utilitzo cookies, bàsicament per saber les visites.","dismiss":"D'acord!","learnMore":"Mes informació","link":"http://cookies.insites.com/","theme":"dark-bottom"};
		</script> -->

		<!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script> -->
		<!-- End Cookie Consent plugin -->

	</head>

	<body>
	<div class="site">

		<div class="wrapper">
			<div class="row">
				<div class="column">
					<!-- MAIN HEADER -->
					<header class="main-header">
						<!-- logo -->
						<a class="main-header__logo" href="{{site.baseurl}}/">RICARD PANADÈS</a>

						<!-- Main Nav -->
						<div class="main-header__nav">
							{% include main-nav.html %}
						</div>
					</header>
				</div>
			</div>
		</div>



		{{ content }}


		<!-- FOOTER -->
		{% include footer.html %}

	</div>

	<!-- Instafeed -->
	<!-- <script type="text/javascript" src="{{site.baseurl}}/assets/js/instafeed.js"></script> -->

	<!-- Heap Analytics -->
	<!-- <script type="text/javascript">
	    window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
	      heap.load("3740712706");
	</script> -->

	<!-- Instafeed -->
	<!-- <script type="text/javascript">
		var feed = new Instafeed({
			get: 'user',
			userId: 347351221,
			accessToken: '347351221.6bdc539.63fc4dece4b0497fb4505d9f5fa3edfb',
			target: 'instagram',
			resolution: 'standard_resolution'
		});
		feed.run();
	</script> -->

	</body>
</html>
